@(decks: Seq[ShipWithName], deckport: DeckPort, user: User)
@import models.join.ShipParameter.Rate

<input type="hidden" data-id="@deckport.id" class="fleet_data" />

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

  <div style="float: right; margin-right: 20px;">
    <div class="input-group input-group-sm favorite-group" data-title="@deckport.name -@{user.admiral.nickname}提督の艦隊-">
      <span class="input-group-btn">
        <button class="btn btn-default btn-add-favorite" type="button">
          <span class="text-warning glyphicon glyphicon-star"></span>
        </button>
      </span>
      <input type="text" readonly="readonly" class="form-control fav-counter" style="width:35px;" />
    </div>
  </div>

  <h3 class="modal-title">@deckport.name<small>旗艦：@decks.head.name</small></h3>
</div>

<div class="modal-body">
  <div style="text-align: center;">
    @decks.map { ship =>
      <img src="@routes.RestImage.ship2nd(ship.shipId, if(ship.isDamaged) "card_dmg" else "card")" alt="@ship.name" class="img-rounded" style="max-width:218px;" />
    }
  </div>
  <table class="table table-condensed table-striped table-bordered">
    <thead>
      <tr>
        <th>艦種</th><th>名前</th><th>Lv</th><th>Exp</th><th>HP</th><th>Cond</th><th>火力</th><th>雷装</th><th>対空</th><th>装甲</th><th>回避</th><th>対潜</th><th>索敵</th><th>運</th>
      </tr>
    </thead>
    <tbody>
      @decks.map { ship =>
        <tr>
          <td class="nowrap">@ship.stName</td>
          <td class="nowrap"><a href="#modal=true&id=@ship.id" onclick="location.hash = 'modal=true&id=@ship.id'; location.reload(false);">@ship.name</a></td>
          <td class="table-cell-progress" data-rate="@{ship.expRate.percentage}">@ship.lv</td>
          <td class="table-cell-progress" data-rate="@{ship.entireExpRate.percentage}" data-kakkokari="@if(ship.lv >= 100){true}else{false}">@{f"${ship.exp}%,d"}</td>
          <td class="table-cell-progress" data-rate="@{ship.hpRate.percentage}" @if(ship.damage){data-damage="@ship.damage.map(_.name)" }data-background-color="@ship.hpRGB.toString">@ship.nowhp/@ship.maxhp</td>
          <td class="table-cell-progress" data-rate="@{ship.cond.toDouble}" data-background-color="@ship.condBarRGB.toString">@ship.cond</td>
          <td class="table-cell-progress" data-rate="@{ship.karyokuRate.percentage}">@ship.karyoku</td>
          <td class="table-cell-progress" data-rate="@{ship.raisouRate.percentage}">@ship.raisou</td>
          <td class="table-cell-progress" data-rate="@{ship.taikuRate.percentage}">@ship.taiku</td>
          <td class="table-cell-progress" data-rate="@{ship.soukouRate.percentage}">@ship.soukou</td>
          <td>@ship.kaihi</td>
          <td>@ship.taisen</td>
          <td>@ship.sakuteki</td>
          <td class="table-cell-progress" data-rate="@{ship.luckyRate.percentage}">@ship.lucky</td>
        </tr>
      }
    </tbody>
  </table>
  <p><small>制空値</small>@decks.map(_.airSuperiority).sum, <small>索敵値</small>@tool.Calc.spotter(decks)</p>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" @if(!user.isMine){disabled="disabled"} onclick="location.href='@routes.UserView.registerSnap(decks(0).memberId, deckport.id)'; return false;">
    スナップショット
  </button>
  <a type="button" class="btn btn-primary" onclick="tweet()" target="_blank">Tweet</a>
  <script>
    var tweet = function(){
    var here = encodeURIComponent(location.href);
    var text = "@deckport.name 旗艦@decks.head.name";
    var url = "https://twitter.com/intent/tweet?original_referer=" + here + "&url=" + here + "&text=" + text + "&hashtags=MyFleetGirls";
    window.open(url);
  }
  </script>
</div>
