@import models.req.ScoreDays
@(
    user: User,
    yomes: Seq[ShipWithName],
    best: Option[ShipWithName],
    flagship: Option[ShipWithName],
    scores: Seq[ScoreDays]
)

@import models.join.ShipWithName
@import models.join.ShipParameter.Rate

@ships = @{yomes ++ best ++ flagship}

@backColors = @{
  ships.flatMap { ship =>
    Seq(ship.hpRGB.toString, ship.condBarRGB.toString).filter(_ != ShipParameter.Blue.toString)
  }.distinct
}
@rates = @{
  ships.flatMap { ship =>
    Seq( ship.expRate, ship.entireExpRate, ship.hpRate, ship.karyokuRate, ship.raisouRate, ship.taikuRate, ship.soukouRate, ship.taisenRate, ship.luckyRate ).filterNot(_.isNaN).map(_.percentage) :+ ship.cond.toDouble
  }.distinct
}

@main {
  <title>@{user.admiral.nickname}提督 -MyFleetGirls-</title>
  @Js.ScriptFlot("time", "selection")
  <script src="@Js.MomentLocales"></script>
  <script src="@Js.Lodash"></script>
  <script src="@Js.Common"></script>
  <script src="@Js.Coffee("graph")"></script>
  <script src="@Js.Coffee("user")"></script>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheet/table_cell.min.css")" />
  <style>
    div.chart { height: 500px; }
    div.overview { height: 200px; }
    td.strong { font-weight: bold; }
    @backColors.map { color => td.table-cell-progress[data-background-color="@color"]::before { background-color: @color; } }
    @if(! rates.filter(_ >= 100).isEmpty) {@Html(rates.filter(_ >= 100).map("td.table-cell-progress[data-rate=\""+_+"\"]::before").mkString(", ")+" { width: 100%; }")}
    @rates.filter(_ > 0).filterNot(_ >= 100).map { rate => td.table-cell-progress[data-rate="@rate"]::before { width: @rate%; } }
  </style>
} {
  @head_content(user) {
    @usertab(user,"top") {
      <div class="row">
        @yomes.map { ship =>
          <div class="col-md-4 col-sm-6">
            <div class="page-header">
              <h1>嫁艦</h1>
            </div>
            @ship_detail(ship)
          </div>
        }
        @best.map { ship =>
          <div class="col-md-4 col-sm-6">
            <div class="page-header">
              <h1>主力艦（最大Lv）</h1>
            </div>
            @ship_detail(ship)
          </div>
        }
        @flagship.map { ship =>
          <div class="col-md-4 col-sm-6">
            <div class="page-header">
              <h1>秘書艦</h1>
            </div>
            @ship_detail(ship)
          </div>
        }
      </div>

      <table class="table table-condensed">
        <thead>
          <tr>
            <th>艦種</th>
            <th>名前</th>
            <th>Lv</th>
            <th>Exp</th>
            <th>HP</th>
            <th>Cond</th>
            <th>火力</th>
            <th>雷装</th>
            <th>対空</th>
            <th>装甲</th>
            <th>回避</th>
            <th>対潜</th>
            <th>索敵</th>
            <th>運</th>
            @if(user.isMine){<th>嫁</th>}
          </tr>
        </thead>
        <tbody>
        @for((ship, isYome) <- yomes.map(_ -> true) ++ (best ++ flagship).map(_ -> false)) {
          <tr>
            <td class="nowrap">@ship.stName</td>
            <td class="nowrap">@ship.name</td>
            <td class="table-cell-progress" data-rate="@{ship.expRate.percentage}">@ship.lv</td>
            <td class="table-cell-progress" data-rate="@{ship.entireExpRate.percentage}" data-kakkokari="@if(ship.lv >= 100){true}else{false}">@{f"${ship.exp}%,d"}</td>
            <td class="table-cell-progress" data-rate="@{ship.hpRate.percentage}" @if(ship.damage){data-damage="@ship.damage.map(_.name)" }data-background-color="@ship.hpRGB.toString">@ship.nowhp/@ship.maxhp</td>
            <td class="table-cell-progress" data-rate="@{ship.cond.toDouble}" data-background-color="@ship.condBarRGB.toString">@ship.cond</td>
            <td class="table-cell-progress" data-rate="@{ship.karyokuRate.percentage}">@ship.karyoku</td>
            <td class="table-cell-progress" data-rate="@{ship.raisouRate.percentage}">@ship.raisou</td>
            <td class="table-cell-progress" data-rate="@{ship.taikuRate.percentage}">@ship.taiku</td>
            <td class="table-cell-progress" data-rate="@{ship.soukouRate.percentage}">@ship.soukou</td>
            <td>@ship.kaihi</td>
            <td class="table-cell-progress" data-rate="@{ship.taisenRate.percentage}">@ship.taisen</td>
            <td>@ship.sakuteki</td>
            <td class="table-cell-progress" data-rate="@{ship.luckyRate.percentage}">@ship.lucky</td>
            @if(user.isMine) {
              @if(isYome) {
                <td>
                  <button type="submit" class="btn btn-warning btn-xs delete-yome" data-ship-id="@ship.id">嫁解除</button>
                </td>
              } else {
                <td>
                  <button type="submit" class="btn btn-info btn-xs" onclick="yome(@user.admiral.id, @ship.id)">嫁登録</button>
                </td>
              }
            }
          </tr>
        }
        </tbody>
      </table>

      <h2>提督経験値</h2>
      <div id="admiral_exp">
        <div id="admiral_exp_graph" class="chart width-adj"></div>
        <div id="admiral_exp_overview" class="overview width-adj"></div>
      </div>

      <h2>戦果</h2>
      <div id="admiral_score">
        <div id="admiral_score_graph" class="chart width-adj"></div>
        <div id="admiral_score_overview" class="overview width-adj"></div>
      </div>

      <h3>戦果推定値変動</h3>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>日時</th>
            <th><strong>戦果</strong></th>
            <th>経験値</th>
            <th>引継戦果(経験値)</th>
            <th>EO</th>
            <th>引継戦果(EO)</th>
            <th>任務</th>
          </tr>
        </thead>
        <tbody>
          @scores.map { x =>
          <tr>
            <td>@x.date</td>
            @x.score.cell("strong")
            @x.monthlyExp.cell()
            <td>@x.yearlyExp</td>
            @x.eo.cell()
            <td>@x.lastEo</td>
            @x.quest.cell()
          </tr>
          }
        </tbody>
      </table>
      <p>正確な戦果推定値を得るには、長期間に渡り、常時MyFleetGirlsを使っていることが必要です</p>
    }
  }
}
